.body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: color #f5f5f5;
}
.barra {
    background-color: #3f5b27;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}
.barra ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.barra li {
    margin-right: 50px;
}
.barra a {
    color: #f5f5f5;
    text-decoration: none;

}
.redes {
    display: flex;
}
.redes a {
    color: #f5f5f5;
    margin-left: 50px;
    text-decoration: none;
}
.contenedor {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 5px 50px;
    justify-content: space-between;

}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: green;
}
.logo img{
    width:150px;
    margin-right: 10px;
}
.subcontenedor ul {
    display: flex;
    list-style: none;
    padding:0;
}
.subcontenedor li {
    margin-right: 10px;
}
.subcontenedor a {
    color:black;
    text-decoration: none;
    margin: 20px;
}
.language {
    margin-left: 10px;
    border: none;
}
.principal {
    background-size: cover;
    background-position: center;
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(250, 250, 250);
    position: relative;
    
}
#carouselPrincipal {
    height: 100%; /* Ocupa el 100% de la altura del .principal (90vh) */
    width: 100%;
    position: absolute; /* Para que ocupe todo el espacio detrás del texto */
    top: 0;
    left: 0;
}

/* Asegura que el contenedor interno ocupe todo el espacio */
.carousel-inner {
    height: 100%;
}

/* El elemento que tiene la imagen de fondo debe tener una altura y anchura definidas */
.slide-bg {
    height: 100%; /* Ocupa el 100% de la altura del .carousel-item */
    width: 100%;
    background-size: cover !important; /* Asegura que la imagen cubra todo */
    background-position: center !important; /* Centra la imagen */
    /* El !important es solo para asegurar que sobrescriba cualquier estilo de Bootstrap, 
       pero deberías intentar evitarlo y simplemente ser más específico en tus selectores. */
}

/* Asegura que el carrusel-item también tenga altura */
.carousel-item {
    height: 100%;
}
.slide-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 70, 39, 0.322); 
}

.slide-bg > * {
    position: relative;
    z-index: 3;
}
.principal-content {
    margin-left : 10px;
    text-align: center;
    margin-bottom: 0px;
    z-index:99;
}
.principal h1 {
    font-size: 3.5em;
    margin-bottom: 15px;
}
.principal p {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 0;
}
.boton {
    background-color: rgba(188, 248, 99, 0.934);
    color: white;
    Border: 3px green ;
    padding: 10px 20px;
    cursor: pointer;
    
}