.body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5
}
.top-nav {
    background: #407933;
    color:aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.top-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
    margin-left: 300px
}
.top-nav li{
    margin-left: 50px;
}
.top-nav a {
    color:#f5f5f5;
    text-decoration: none;
}
.redes{
    display: flex;
    margin-right: 180px;
}
.redes a{
    color: #f5f5f5;
    size: 10px;
    margin-right: 50px;
}
.contenedor {
background-color: white;
display: flex;
align-items: center;
padding: 5px 20px;
justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img{
    width: 150px;
    margin-right: 10;
}
.logo p{
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: green;
    margin: 0;

}
.sublista ul {
    display: flex;
    list-style: none;
    margin-left: 300px;
    padding: 0;

}
.sublista li {
    margin-right: none;
    margin-left: 50px
}
.sublista a {
    color: rgb(57, 57, 45);
    text-decoration: none;
    font-weight: bold;
}
.language {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.hero {
    background-size: cover;
    background-position: center;
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: end;
    text-shadow: 0 4px 8px rgba(24, 24, 23, 0.2);
    position: relative;
}
#carouselPrincipal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

}
.carousel-inner {
    height: 100%;
}
.slide-bg {
    height: 100%;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
}
.carousel-item {
    height: 100%;
}
.slide-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.174); 
}

.slide-bg > * {
    position: relative;
    z-index: 10;
}
.herocont {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 100px;
    z-index: 99;
}
.hero h1 {
    font-size: 4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(253, 253, 253);
    font-weight: bold;

}
.hero p{
    font-size: 2em;
    color: rgb(255, 255, 255);
    margin: 0;
    margin-bottom: 0;
    font-weight: 500px;
}
.conocenos-boton {
    background-color: rgb(168, 224, 70);
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    border: 4px green;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5.5px;
}
.triovalor {
    background-image:#f5f5f5;
    padding: 40px 20px;
    text-align: center;
}
.frase {
    color:green;
    font-size: 28px;
    margin-bottom: 30px;
}
.contenedor-tarjetas {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.tarjeta {
    background-color: rgb(248, 245, 245);
    border-radius: 10px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 500px;
    padding: 7px 10px;
    text-align: left;
    position: relative;
    
}
.tarjeta img {
    width: 380px;
    height: 300px;
    object-fit: cover;
    border-radius:2px;
    display: block;
    justify-content: center;
    padding: 0;
}
.tarjeta h3 {
    font-size: 20px;
    margin: 1px 0 7px;
    color:black;
    text-align: center;
}
.negritas {
    font-size: 18px;
    font-weight: bolder;
    color:black;
    padding: 10px;
    text-align: center !important;
    margin-bottom: 5px;

}
.tarjeta p {
    font-size: 15px;
    color:rgb(54, 52, 52);
    line-height: 1.2;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;

}