@font-face {
    font-family: "Chomi";
    src: url("propiedades de texto/fonts/Inter_18pt-Thin.ttf"); format("truetype");
    font-weight: 200;

}
@font-face {
    font-family: "Chomi";
    src: url("propiedades de texto/fonts/Inter_18pt-Thin.ttf"); format("truetype");
    font-weight: 700;

}
@font-face {
    font-family: "Chomi";
    src: url("propiedades de texto/fonts/Inter_18pt-Thin.ttf"); format("truetype");
    font-weight: 1000;
}